BODY {
  background-color: #eaeaff;
}

TABLE {
  background-color: #eaeaff;
  border-collapse: collapse;
}

TR {
  vertical-align: top;
}

TH {
  background-color: #cdcdff;
  padding: .1em .4em .1em .4em;
}

TD {
  padding: .1em .4em .1em .4em;
}

UL {
  padding: .2em 1.4em .2em 1.4em;
}

A {
  color: Navy;
}

.no-border {
  padding: 0em 0em 0em 0em;
}
